/* BIG TABLETS to 1200px (width smaller than 1140px row*/
@media only screen and (max-width: 1200px) {
	.header__herotextbox {
	    width: 100%;
	    padding: 0 2%;
	}
	.row {padding: 0 2%;}
	.navbar figure img {height: 125px;}	    
	.header__herotextbox .btn {	margin-top: 5px;}
	.box h3 {font-size: 100%;}
	.icon-big {
		font-size: 300%;
	}
	.box p {font-size: 88%;}
	.box-coaches img {height: 45%;}
	.box-coaches .box p { padding: 1.7em 0; }
	.box-coaches .box { height: 22em; }
/* SMALL TABLETS to BIG TABLETS: 768--1023px*/
@media only screen and (max-width: 1023px) {
	body {font-size: 18px; }
	section {padding: 60px 0; }
	.navbar figure img { height: 100px; }
	.header__herotextbox {
		top: 29%;
	}
	.header__herotextbox .btn { 
		margin-top: 5px; 
	}
	.box {height: 24em; }
	.box p {font-size: 85%; margin: 15% 0; }
	.box h3 {font-size: 84%; margin-bottom: 10px;height: 60px; }
	h1 { font-size: 200%; }
	h2 { font-size: 150%; }
	.box-coaches .box {height: 26em;}
	.box-coaches img {height: 43%; }
	.plan-box p {font-size: 1.5em;}
	.plan-box ul li {font-size: 95%;}
	.long-copy {
	    width: 80%;
	    margin-left: 10%;
	}
	.icon-small {
		width: 17px; 
		margin-right: 10px;  
	}

	.plan-box {
			width: 100%;
			margin-left: 0;
	}
	.contact-form {	width: 80%;	}
	.section-form { padding-top: 30px; }
}

/* SMAll PHONES to SMALL TABLETS: 481-767px*/
@media only screen and (max-width: 767px) {
	body {font-size: 16px;	}
	section {padding: 30px 0; }
	.row, .header__herotextbox {padding: 0 4%; }
	.col {
		width: 100% !important;
		margin: 0 0 4% 0; 
		 }
	.mobile-nav-icon { display: inline-block; } /*nav icon appears at width 767pz and less*/
	.main-nav {
		display: none;
		background-color: rgba(0, 0, 0,1);
		width: 35%;
		top: 50%;
		padding: 0 5%;
		z-index: 2;
	}
	.main-nav li {
		display: block;
	}
	.main-nav li a:link,
	.main-nav li a:visited {
		display: block;
		border: 0; /*no hover border effect, cause cant hover on a mobile device*/
		padding: 10px 0;
		font-size: 100%;
	}
	
	.sticky .main-nav { 
		margin-top: 10px; 
		background-color: rgba(217, 63, 63,0.97);
	}
	.sticky .main-nav li {
		display: block;
	}
	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited { padding: 10px 0; }
	.sticky .main-nav li a:hover,
	.sticky .main-nav li a:active { border: none; }
	.sticky .mobile-nav-icon { margin-top: 10px; }
	.sticky .mobile-nav-icon i { color: #e6e6e6; }

	h1 {font-size: 1.3em !important; line-height: 120%; }
	h2 {font-size: 100%; margin-bottom: 20px; }
	h2::after {margin-top: 15px;}
	.long-copy {
		width: 80%;
		margin: 10px auto 30px auto;
		font-size: 0.9em;
	}
	.box { height: auto;  }
	.box p {margin: 20px auto; width: 60%; text-align: center;font-size: 1em;}
	.icon-big {	font-size: 250%;}
	.box h3 {width: 100%; height: auto; margin-bottom: 20px; margin-top: 35px;}
	.box-coaches .box {height: auto;}
	.box-coaches .box p {font-size: 1em;margin: ;}
	.box-coaches img {width: 60%; margin-top: 20px;}
	.section-plans h3 {font-size: 95%;}
	.plan-box {
		text-align: center;
		width: 90%;
		margin-left: 5%;
 	}
 	.plan-box p {font-size: 1em;}
 	.plan-box ul {height: auto; text-align: left; width: 60%; margin: 0 auto; }
	.contact-form {text-align: center;}
	.contact-form .row {margin-bottom: 10px;}
	.contact-form .span-1-of-3 {margin-bottom: 5px; }
	.header__herotextbox .btn {width: 140px; margin: 20px;}
	.header__herotextbox div {justify-content: center;}
}
/* SMALL PHONES: 0-480px*/
@media only screen and (max-width: 480px) {
	section {padding: 25px 0; }
	.contact-form {width: 100%; }
	.navbar figure img {height: 85px;}
}